
ion-button {
    --border-color: #9657ef;
    --background: #704fa0;
    --border-style: solid;
    text-transform: inherit;
    width: 100%;
    height: 75%;
    --border-width: 1px;
    --ripple-color: #ad82ec;
    padding: 5px;
} 